
.customfont { 
    font-family: 'Perfect DOS VGA 437 Win', sans-serif;
}

.logo {
    height: 3rem;
}

.search-field {
    background: red !important;
}

.rows-field {
    background: rgb(4, 0, 255) !important;
}

.table {
    color:black !important;
}

hr.dashed {
    border-top: 2px dashed white;
    max-width: 800px; 
    opacity: 100;
}

.search-records {
    border-bottom-left-radius: 1rem !important; 
    border-top-left-radius: 1rem !important; 
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    min-width: 10rem; 
    height: 55px;
    border: none;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
}

.search-records-btn {
    border-bottom-right-radius: 1rem !important; 
    border-top-right-radius: 1rem !important; 
    border-bottom-left-radius: 0; 
    border-top-left-radius: 0;
    color: white;
}

div.table {
    margin-top: 2rem !important;
    border-radius: 1rem; 
    max-width: 50rem; 
    margin: 0 auto; 
    text-shadow: none !important; 
}

.green-txt {
    color: #00ff00
}

.white-txt {
    color: #ffffff
}

.yellow-txt {
    color: #ffff00

}

.red-txt {
    color: #ff0000
}

.cyan-txt {
    color: #ffffff;
	text-shadow: 2px 2px 4px #000000;
}

.blue-txt {
    color: #000000;
	text-shadow: 2px 2px 4px #FFFFFF;
}

.light-blue-txt {
    color: #7bb4e3
}